<!DOCTYPE html>

<html>
<body style:"background-color:blue;">
<h1> Teen Mental Health </h1>
<ul>
<li> From 2001 to 2019, the suicide rate for American youngsters from ages 10 to 19 jumped 40 percent, and emergency room visits for self-harm rose 88 percent </li>
<li> Four out of five teenagers who attempt suicide have given clear warning signs </li>
<li> According to the Centers for Disease Control (CDC), for youth between the ages of 10 and 24, suicide is the third leading cause of death </li>
<li> May is the month for teen’s mental health awareness </li>
</ul>
</body>
</html>