{{bootstrap.load_css()}}

<!DOCTYPE html>


<html>
<body table style="background: color #0000ff">
<h1> Mental Health Awareness </h1>
<ul>
<li> More than 50 million Americans struggle with mental illness.</li>
<li> Depression is the leading cause of disability worldwide.</li>
<li> Mental illnesses can affect people of any age, race, religion, or income. A mental illness is a medical condition that disrupts a person’s thinking, feeling, mood, and ability to relate to others and daily functioning. </li>
</ul>

  <div class="card-footer">

    <div class="card-footer">
      <a href="{{ url_for('teen')}}" class="card-link">Teen</a>
    </div>
  
    <img align = "middle" src="/static/images/Teen/main_teen.jpeg" width="250" class="img-fluid rounded" />
  </div>

  <div class="card-footer">

    <div class="card-footer">
      <a href="{{ url_for('First_Responders')}}" class="card-link">First Responders</a>
    </div>
  
    <img align = "middle" src="/static/images/First_responders_military/main_military_and_first_responders.png" width="250" class="img-fluid rounded" />
  </div>

  <div class="card-footer">

    <div class="card-footer">
      <a href="{{ url_for('Athlete')}}" class="card-link">Athlete</a>
    </div>
  
    <img align = "middle" src="/static/images/Athlete/main_athletes.jpeg" width="250" class="img-fluid rounded"/>
  </div>

  <div class="card-footer">

    <div class="card-footer">
      <a href="{{ url_for('Men')}}" class="card-link">Men</a>
    </div>
  
    <img align = "middle" src="/static/images/Men/main_men.jpeg" width="250" class="img-fluid rounded" />
  </div>
  
  


</body>
</html>