<!DOCTYPE html>

<html>
<body style:"background-color:blue;">
<h1> Athlete's Mental Health </h1>
<ul>
<li> Add in the perfectionist mindset of many competitors. It’s a powerful force, but that drive can also leave athletes feeling unsatisfied no matter how well they perform </li>
<li> Many athletes won’t actively seek mental health help when they need it. Instead, somebody — maybe a coach or parent — might notice that “something seems off” and encourage them to talk about it </li>
<li> Over the 9-year study period, 35 cases of suicide were identified from a review of 477 student-athlete deaths during 3,773,309 individual participant seasons. The overall suicide rate was 0.93/100,000 per year. Suicide represented 7.3% (35/477) of all-cause mortality among NCAA student-athletes </li>
<li> The month for athlete’s mental is May </li>
</ul>
</body>
</html>